BasedOnStyle: LLVM
Language: C

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  AfterControlStatement: false
  BeforeElse: true
  BeforeCatch: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

BreakBeforeBinaryOperators: None
PenaltyBreakAssignment: 1000000
PenaltyBreakBeforeFirstCallParameter: 1000000

PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInContainerLiterals: false
KeepEmptyLinesAtTheStartOfBlocks: false

MaxEmptyLinesToKeep: 1
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 0

SortIncludes: true
IndentPPDirectives: None
AllowShortEnumsOnASingleLine: true

ColumnLimit: 0
