[submodule "compiler/src/binutils-gdb"]
	path = compiler/src/binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "compiler/src/gcc"]
	path = compiler/src/gcc
	url = git://gcc.gnu.org/git/gcc.git
