[submodule "gcc-cross-compiler/src/binutils-gdb"]
	path = gcc-cross-compiler/src/binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "gcc-cross-compiler/src/gcc"]
	path = gcc-cross-compiler/src/gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "uefi/UEFI-GPT-image-creator"]
	path = uefi/UEFI-GPT-image-creator
	url = https://github.com/queso-fuego/UEFI-GPT-image-creator
